@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body,html {
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow: hidden; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
  height: 100vh;
}
.fontfirst{
  color: #FFD000;
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fontsecond{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0040FF;
  font-family: "Jim Nightshade", cursive;
  font-weight: 500;
  font-style: normal;
}

